<% provide :title, t(".login") %>
<h1><%= t ".login" %></h1>

<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <%= link_to  user_facebook_omniauth_authorize_path do %>
      <button class="btn facebook-btn social-btn col-md-5 col-md-offset-1" type="button">
        <span>
          <i class="fab fa-facebook-f"></i>
          <%= t ".login_facebook"%>
        </span>
      </button>
    <% end %>
    <%= link_to user_google_oauth2_omniauth_authorize_path do %>
      <button class="btn google-btn social-btn col-md-5" type="button">
        <span>
          <i class="fab fa-google-plus-g"></i>
          <%= t ".login_google"%>
        </span>
      </button>
    <% end %>
  </div>
  <p style="text-align:center"><%= t ".or"%></p>
  <%= form_for :session, url: login_path do |f| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <%= f.label t ".email" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <%= f.label t".password" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
    </div>
    <%= f.submit t(".login"), class: "btn btn-primary" %>
  <% end %>
  <%= link_to t(".new_user"), signup_path %>
</div>
