<%= form_for :comment, url: comments_path, remote: true do |f| %>
  <div class="field">
    <div class="control">
      <div><%= hidden_field_tag :user_id, @user.id %></div>
      <%= f.text_area(:comment, class: "form-control", rows: "4", placeholder: t(".placeholder")) %>
    </div>
  </div>
  <%= f.button t(".button"), class: "btn btn-info pull-right" %>
<% end %>
<div class="clearfix"></div>
<div class="list-comment">
  <%= render "comments/list_comments" %>
</div>
