<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label t ".name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label t ".email" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label t ".password" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label t ".password_confirm" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
  </div>
  <%= f.fields_for :user_profile do |ff| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <%= ff.label t ".address" %>
          <%= ff.text_field :address, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <%= ff.label t ".age" %>
          <%= ff.text_field :age, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= ff.label t ".gender" %>
          <%= ff.select :gender, UserProfile.genders.keys, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= ff.label t ".hourly_rent" %>
          <%= ff.text_field :hourly_rent, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <%= ff.label t ".avatar" %>
          <%= ff.file_field :avatar %>
        </div>
      </div>
    </div>
  <% end %>
  <%= f.submit t(".submit"), class: "btn btn-success" %>
<% end %>
