<%= form_for @user do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label t ".name" %>
        <%= f.text_field :name, class: "form-control", placeholder: t(".placeholder_name") %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label t ".email" %>
        <%= f.text_field :email, class: "form-control", placeholder: t(".placeholder_email") %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label t ".password" %>
        <%= f.password_field :password, class: "form-control", placeholder: t(".placeholder_password") %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label t ".password_confirm" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: t(".placeholder_password_confirm") %>
      </div>
    </div>
  </div>
  <%= f.submit t(".submit"), class: "btn btn-success" %>
<% end %>
