<%= form_for @player do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group" id="game-update">
        <%= f.label t ".game" %>
        <%= f.collection_select :game_id, Game.all, :id, :game %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group" id="rank-update">
        <%= f.label t ".rank" %>
        <%= f.collection_select :rank_id, [], :id, :rank %>
      </div>
    </div>
  </div>
  <%= f.submit t(".submit"), class: "btn btn-success" %>
<% end %>
